<div id="progress-bar" class="w-full h-1.5 fixed">
  <div id="progress" class="h-full bg-purple-600 rounded-lg"></div>
</div>

<style>
  #progress-bar {
    background-color: #eaf9b1;
    display: none;
  }
</style>

<script src="/src/js/progressbar.js"></script>
