<div class="scroll-down opacity-0">
  <svg
    class="reveal"
    fill="#FF5E0E"
    width="55px"
    height="55px"
    viewBox="0 0 22 22"
    xmlns="http://www.w3.org/2000/svg"
    id="memory-play"
    transform="rotate(90)"
    stroke="#000000"
    stroke-width="0.00022"
    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
      ><path
        d="M10 5V6H11V7H12V8H13V9H14V10H15V12H14V13H13V14H12V15H11V16H10V17H9V18H7V4H9V5H10M12 10H11V9H10V8H9V14H10V13H11V12H12V10Z"
      ></path></g
    ></svg
  >
  <svg
    class="reveal"
    fill="#FF5E0E"
    width="55px"
    height="55px"
    viewBox="0 0 22 22"
    xmlns="http://www.w3.org/2000/svg"
    id="memory-play"
    transform="rotate(90)"
    stroke="#000000"
    stroke-width="0.00022"
    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
      ><path
        d="M10 5V6H11V7H12V8H13V9H14V10H15V12H14V13H13V14H12V15H11V16H10V17H9V18H7V4H9V5H10M12 10H11V9H10V8H9V14H10V13H11V12H12V10Z"
      ></path></g
    ></svg
  >
  <svg
    class="reveal"
    fill="#FF5E0E"
    width="55px"
    height="55px"
    viewBox="0 0 22 22"
    xmlns="http://www.w3.org/2000/svg"
    id="memory-play"
    transform="rotate(90)"
    stroke="#000000"
    stroke-width="0.00022"
    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
      ><path
        d="M10 5V6H11V7H12V8H13V9H14V10H15V12H14V13H13V14H12V15H11V16H10V17H9V18H7V4H9V5H10M12 10H11V9H10V8H9V14H10V13H11V12H12V10Z"
      ></path></g
    ></svg
  >
</div>

<style>
  .scroll-down {
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  svg {
    display: block;
    width: 55px;
    height: 55px;
  }
  @media (max-width: 768px) {
    .scroll-down {
      position: fixed;
      bottom: 15px;
      right: 15px;
      animation: bounce 2s infinite;
    }
  }
</style>

<script src="/src/js/scrollindicator.js"></script>
