<div id="showcase">
  <div id="layout" class="mx-1 mt-28 mb-28">
    <div id="zomba">
      <h1 class="reveal font-Comic font-bold text-3xl mb-5 opacity-0">Zomba</h1>
      <div
        class="reveal grid gap-2 2xl:grid-cols-5 lg:grid-cols-5 md:grid-cols-3 max-md:grid-cols-3 max-sm:grid-cols-2 opacity-0"
      >
        <div class="grid gap-2">
          <img src="/images/G4 (1).jpg" />
          <img src="/images/G4 (2).jpg" />
          <img src="/images/G4 (3).jpg" />
        </div>
        <div class="grid gap-2">
          <img src="/images/G4 (4).jpg" />
          <img src="/images/G4 (5).jpg" />
          <img src="/images/G4 (6).jpg" />
        </div>
        <div class="grid gap-2">
          <img src="/images/G4 (7).jpg" />
          <img src="/images/G4 (8).jpg" />
          <img src="/images/G4 (9).jpg" />
        </div>
        <div class="grid gap-2">
          <img src="/images/G4 (10).jpg" />
          <img src="/images/G4 (11).jpg" />
          <img src="/images/G4 (12).jpg" />
        </div>
        <img src="/images/G4 (13).jpg" />
      </div>
    </div>
    <div id="apec">
      <h1
        class="revealscroll font-Comic font-bold text-3xl mt-20 mb-5 opacity-0"
      >
        Apec
      </h1>
      <div
        class="revealscroll grid gap-2 2xl:grid-cols-5 lg:grid-cols-5 md:grid-cols-3 max-md:grid-cols-3 max-sm:grid-cols-2 grid-auto-fit opacity-0"
      >
        <img src="/images/G1 (2).jpg" />
        <img src="/images/G1 (3).jpg" />
        <img src="/images/G1 (4).jpg" />
        <img src="/images/G1 (5).jpg" />
        <img src="/images/G1 (6).jpg" />
        <img src="/images/G1 (7).jpg" />
        <img src="/images/G1 (8).jpg" />
        <img src="/images/G1 (9).jpg" />
        <img src="/images/G1 (1).jpg" />
      </div>
    </div>
    <div id="stora">
      <h1
        class="revealscroll font-Comic font-bold text-3xl mt-20 mb-5 opacity-0"
      >
        Stora
      </h1>
      <div
        class="revealscroll grid gap-2 2xl:grid-cols-5 lg:grid-cols-5 md:grid-cols-3 max-md:grid-cols-3 max-sm:grid-cols-2 opacity-0"
      >
        <img src="/images/G2 (2).jpg" />
        <img src="/images/G2 (3).jpg" />
        <img src="/images/G2 (1).jpg" />
      </div>
    </div>
    <div id="monza">
      <h1
        class="revealscroll font-Comic font-bold text-3xl mt-20 mb-5 opacity-0"
      >
        Monza
      </h1>
      <div
        class="revealscroll grid gap-2 2xl:grid-cols-5 lg:grid-cols-5 md:grid-cols-3 max-md:grid-cols-3 max-sm:grid-cols-2 opacity-0"
      >
        <img src="/images/G5 (1).jpg" />
        <img src="/images/G5 (2).jpg" />
        <img src="/images/G5 (3).jpg" />
        <img src="/images/G5 (4).jpg" />
        <img src="/images/G5 (5).jpg" />
        <img src="/images/G5 (6).jpg" />
        <img src="/images/G5 (7).jpg" />
        <img src="/images/G5 (8).jpg" />
      </div>
    </div>
    <div id="weldok">
      <h1
        class="revealscroll font-Comic font-bold text-3xl mt-20 mb-5 opacity-0"
      >
        Weldok
      </h1>
      <div
        class="revealscroll grid gap-2 2xl:grid-cols-5 lg:grid-cols-5 md:grid-cols-3 max-md:grid-cols-3 max-sm:grid-cols-2 opacity-0"
      >
        <img src="/images/G6 (1).jpg" />
        <img src="/images/G6 (2).jpg" />
        <img src="/images/G6 (3).jpg" />
        <img src="/images/G6 (4).jpg" />
        <img src="/images/G6 (5).jpg" />
        <img src="/images/G6 (6).jpg" />
      </div>
    </div>
  </div>
</div>
